:root {
    --header-color: #ffffff;
    --main-btn-color: #ffffff;
    --accent-color: #2196F3;
    --professions-color: #757575;
    --main-names-color: #212121;
    --hero-background: #2F303A;
}

body {
    font-family: 'Roboto', 'Raleway', Verdana, sans-serif sans-serif;
}
ul {
    padding-left: 40px;
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ----------------header---------------------- */

.header {
    background: var(--header-color);
}

.header-link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 0.83;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}
.head-r {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-txt);
}
.header-studio {
}
.header-portfolio {
}
.header-contacts {
}

.header-link:hover,
.header-link:focus,
.header-studio:hover,
.header-studio:focus,
.header-portfolio:hover,
.header-portfolio:focus,
.header-contacts:hover,
.header-contacts:focus,
.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
    color: var(--accent-color);
}
.linked {

}
.header-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: #757575;
}
.header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: #757575;
}
.logo-web {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 0.81;
    letter-spacing: 0.03em;
    color: #2196F3;
}
.logo-studio-drc {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 0.81;
    letter-spacing: 0.03em;
    color: #000000;
}
.call-button {
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--main-btn-color);
    cursor: pointer;
    background: #2196F3;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
}
.name-family {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.33;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-names-color);
}
.about-name {

    font-weight: 400;
    font-size: 16px;
    line-height: 1.33px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--professions-color);
}

/* ----------------main------------------ */

.namesite {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--header-color);
}

.call-button:hover,
.call-button:focus {
    transform: scale(1.01);
}
.hero {
    background-color: var(--hero-background);
    text-align: center;
}
.heater-title2 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.07;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-names-color);
}
.title3 {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--professions-color);
}

/* ----------------hero3----------------- */

.hero3 {
}
.heated-groop3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 0.85;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-names-color);
}

/* ---------------hero4----------------- */

.hero4 {
    background-color: ;
}
.heated-groop4 {
    font-weight: 700;
    font-size: 36px;
    line-height: 0.85;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-names-color);
}
.pic-photo {
    width: 270px;
    height: 260px;
}
 /* --------------footer------------------- */
.copyright:hover,
.copyright:focus,
.footer-adress:hover,
.footer-adress:focus,
.footer-mail:hover,
.footer-mail:focus
.footer-tel:hover,
.footer-tel:focus {
    color: var(--accent-color);
}
.logo-studio-wt {
    color:#ffffff;
}
.footer {
    background-color: #2F303A;
}
.copyright {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 0.83;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}
.foot-r {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.footer-adress {
    color: var(--header-color);
}
.footer-mail {
    color: rgba(255, 255, 255, 0.6);
}
.footer-tel {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}


/* ----------------page2---------------- */

.examples {
    visibility: hidden ;
}

.programs-button:hover,
.programs-button:focus {
    color: var(--header-color);
    background-color: #2196F3;
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}
.programs-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background-color: #F5F4FA;
    border-radius: 4px;
    border-style: hidden;
}
.picDifProgram {
    width: 370px;
}
.name-difprograms {
    font-weight: 700;
    font-size: 18px;
    line-height: 0.5;
    letter-spacing: 0.06em;
    color: #212121;
}
.about-name-difprograms {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
}